<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review Form</title>
</head>
<body>
<h1>Submit Your Review</h1>


<!--<div th:if="${#fields.hasErrors()}">-->
<!--        <span class="validationError">-->
<!--            Pleas correct the problems below and resubmit-->
<!--        </span>-->
<!--</div>-->

<!-- 리뷰 폼 -->
<form th:object="${review}" method="post">

    <!-- 유저 정보 표시 -->
    <div>
        <p>User ID: <span th:text="${user.id}" th:value="${review}"></span></p>
        <input type="hidden" th:field="*{userId}" th:value="${user.id}" />
        <input type="hidden" th:field="*{userPwd}" th:value="${user.pwd}" />
    </div>

    <!-- 책 선택 -->
    <div>
        <label for="book">Select a Book:</label>
        <select id="book" th:field="*{bookName}">
            <option th:each="book : ${books}"
                    th:value="${book.bookName}"
                    th:text="|Title: ${book.bookName}, Author: ${book.bookAuthor}|">
            </option>
        </select>
    </div>

    <!-- 리뷰 입력 -->
    <div>
        <label for="reviewText">Write your review:</label>
        <textarea id="reviewText" th:field="*{review}" rows="4" cols="50"></textarea>
    </div>
    <span class="validationError"
          th:if="${#fields.hasErrors('review')}"
          th:errors="*{review}">id error</span>
    <br>

    <!-- 제출 버튼 -->
    <button type="submit">Submit Review</button>
</form>
</body>
</html>
