<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Review Form</title>
</head>
<body>
<h1>Submit Your Review</h1>


<!--<div th:if="${#fields.hasErrors()}">-->
<!--        <span class="validationError">-->
<!--            Pleas correct the problems below and resubmit-->
<!--        </span>-->
<!--</div>-->

<!-- 리뷰 폼 -->
<form th:object="${reviewEntity}" method="post">

    <!-- 유저 정보 표시 -->
    <div>
        <label for="userEntity">Select a userEntity:</label>
        <select id="userEntity" th:field="*{userEntity}">
            <option th:each="userEntity : ${users}"
                    th:value="${userEntity.uuid}"
                    th:text="|User id: ${userEntity.userId}">
            </option>
        </select>
    </div>

    <!-- 책 선택 -->
    <div>
        <label for="bookEntity">Select a Book:</label>
        <select id="bookEntity" th:field="*{bookEntity}">
            <option th:each="bookEntity : ${books}"
                    th:value="${bookEntity.uuid}"
                    th:text="|Title: ${bookEntity.bookName}, Author: ${bookEntity.bookAuthor}|">
            </option>
        </select>
    </div>

    <!-- 리뷰 입력 -->
    <div>
        <label for="reviewText">Write your reviewEntity:</label>
        <textarea id="reviewText" th:field="*{reviewEntity}" rows="4" cols="50"></textarea>
    </div>
    <span class="validationError"
          th:if="${#fields.hasErrors('reviewEntity')}"
          th:errors="*{reviewEntity}">id error</span>
    <br>

    <!-- 제출 버튼 -->
    <button type="submit">Submit Review</button>
</form>
</body>
</html>
