<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bookie User Registeration</title>
</head>
<body>
  <form method="POST" th:action="@{/admin/register}" th:object="${user}">
    <h1>enter user info</h1>

    <div th:if="${#fields.hasErrors()}">
      <span class="validationError">
        please correct the errors
      </span>
    </div>

    <label for="id">ID: </label>
    <input type="text" th:field="*{id}">
    <span class="validationError"
          th:if="${#fields.hasErrors('id')}"
          th:errors="*{id}">id error</span>
    <br>

    <label for="pwd">ID: </label>
    <input type="text" th:field="*{pwd}">
    <span class="validationError"
          th:if="${#fields.hasErrors('pwd')}"
          th:errors="*{pwd}">pwd error</span>
    <br>


  </form>
</body>
</html>